:root{
    --white: #fff;
    --black: #000;
    --purple1: #7d1ad4;
    --purple2: #6e17b9;
}

[data-theme="dark"]{
    --white: #000;
    --black: #fff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
    border-radius: 10px;
}

button{
    background-color: var(--purple1);
    padding: .4rem;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

button:hover{
    background-color: var(--purple2);
    transition: .8s;
}

svg{
    color: var(--white);
    width: 24px;
    height: 24px;
}